# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cnfrontend/node_modules/
terminal/client/class.webm
terminal/server/1.mp4
cnbackend/__pycache__/
cnbackend/djangoenv/
terminal/server/.DS_Store
.gitignore
cnbackend/__pycache__/urls.cpython-39.pyc
terminal/server/1-old.mp4

terminal/.DS_Store
terminal/server/.DS_Store
terminal/client/0.mp4
terminal/server/0.mp4
.gitignore
terminal/client/0-old.mp4
terminal/client/1.mp4
terminal/.DS_Store
terminal/server/.DS_Store
.DS_Store
terminal/client/2.mp4
.DS_Store
